$color-1: #f0f0f0;
$color-2: #171c3d;
$color-3: #686a91;
$color-4: #a5a9c7;
$color-5: #feed6d;
$color-6: #ced0e3;
$color-7: #967893;
$color-8: #cc9da0;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 45rem;
}
.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.rignt-nav {
  float: right;
}
.left-nav {
  float: left;
}
.text-1 {
  color: $color-6;
}
li {
  display: block;
  padding: 2rem 0 2rem 0;

  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    color: $color-4;
  }
  100% {
    color: $color-5;
  }
}
@keyframes color-change-2x {
  0% {
    color: $color-4;
  }
  100% {
    color: $color-5;
  }
}

.hero {
  width: 40rem !important;
}

.section {
  margin: 7rem 0 !important;
}
