$color-1: #f0f0f0;
$color-2: #171c3d;
$color-3: #686a91;
$color-4: #a5a9c7;
$color-5: #feed6d;
$color-6: #ced0e3;
$color-7: #967893;
$color-8: #cc9da0;

.bg-custom-1 {
  background-color: $color-2;
}

.text-1 {
  color: $color-6;
}
