$color-1: #f0f0f0;
$color-2: #171c3d;
$color-3: #686a91;
$color-4: #a5a9c7;
$color-5: #feed6d;
$color-6: #ced0e3;
$color-7: #967893;
$color-8: #cc9da0;

.bg-custom-1 {
  background-color: $color-2;
}
.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.text-1 {
  color: $color-6;
}
html,
body {
  cursor: none;
}
.c--clicked {
  transform: translate(-50%, -50%) scale(0.5);
  background-color: $color-6;
}
.c--hidden {
  opacity: 0;
}

.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $color-5;
  transition: transform 0.2s;
}

a {
  &:hover {
    cursor: none;
    color: $color-6;
  }
}
