$color-1: #f0f0f0;
$color-2: #171c3d;
$color-3: #686a91;
$color-4: #a5a9c7;
$color-5: #feed6d;
$color-6: #ced0e3;
$color-7: #967893;
$color-8: #cc9da0;

img {
  width: 45rem;
}
button {
  cursor: pointer !important;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.devicer {
  width: 4em;
  display: block;
  height: 0.9px;
  background-color: #4b4b4d;
  margin: 60px auto 0;
}
.left-nav {
  float: left;
}
.text-1 {
  color: $color-6;
}
.bg-1 {
  background-color: $color-6;
}

.btn-link-custom-1 {
  background-color: $color-2;
  color: #feed6d;
}
li {
  display: block;
  padding: 2rem 0 2rem 0;

  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    color: $color-4;
  }
  100% {
    color: $color-5;
  }
}
@keyframes color-change-2x {
  0% {
    color: $color-4;
  }
  100% {
    color: $color-5;
  }
}
.downarrow {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: downarrow 2s linear infinite alternate both;
}

@keyframes downarrow {
  0% {
    color: $color-4;
  }

  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    color: $color-5;
  }
  40% {
    transform: translateY(-30px);
    color: $color-4;
  }
  60% {
    transform: translateY(-15px);
    color: $color-5;
  }
}

.btn-link {
  background-color: $color-2;
  color: $color-6;
  border: none;
  transition: all 0.4s ease;
  text-decoration: none;

  &:hover {
    transition: all 0.4s ease;
    color: $color-5;
  }
}

.card {
  .card-img-top {
    height: 20rem !important;
    filter: brightness(0.7);
    border-radius: 1rem !important;
    transition: all 0.2s;
    &:hover {
      box-shadow: 0 0 4px #f5f5f5;
      border-radius: 1rem;
      filter: brightness(0.9);

      border: none;
    }
  }
}
.border-2 {
  border: 3px solid $color-6 !important;
}
.btn-custom-2 {
  color: $color-6;
  &:hover {
    background-color: $color-6;
  }
}
.btn-custom-1 {
  color: $color-2;
  background-color: $color-6;
  &:hover {
    background-color: transparent;
    color: $color-6;
  }
}
.mt-7 {
  margin-top: 10rem !important;
  margin-bottom: 6rem !important;
}
.skills {
  width: 100px !important;
  height: 100px !important;
  filter: gray; /* IE5+ */
  filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
  transition: all 0.8s ease-in-out;
  &:hover {
    filter: none;
    filter: grayscale(0);
    transform: scale(1.01);
  }
}

.line-word {
  overflow: hidden;
  text-align: center;
}
.line-word:before,
.line-word:after {
  background-color: $color-8;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.line-word:before {
  right: 0.5em;
  margin-left: -50%;
}
.line-word:after {
  left: 0.5em;
  margin-right: -50%;
}
