img {
  width: 45rem;
}

button {
  cursor: pointer !important;
}

.selectDisable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.devicer {
  width: 4em;
  display: block;
  height: 0.9px;
  background-color: #4b4b4d;
  margin: 60px auto 0;
}

.left-nav {
  float: left;
}

.text-1 {
  color: #ced0e3;
}

.bg-1 {
  background-color: #ced0e3;
}

.btn-link-custom-1 {
  background-color: #171c3d;
  color: #feed6d;
}

li {
  display: block;
  padding: 2rem 0 2rem 0;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}

@-webkit-keyframes color-change-2x {
  0% {
    color: #a5a9c7;
  }
  100% {
    color: #feed6d;
  }
}

@keyframes color-change-2x {
  0% {
    color: #a5a9c7;
  }
  100% {
    color: #feed6d;
  }
}

.downarrow {
  -webkit-animation: bounce 2s infinite;
  animation: downarrow 2s linear infinite alternate both;
}

@-webkit-keyframes downarrow {
  0% {
    color: #a5a9c7;
  }
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: #feed6d;
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    color: #a5a9c7;
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    color: #feed6d;
  }
}

@keyframes downarrow {
  0% {
    color: #a5a9c7;
  }
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: #feed6d;
  }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    color: #a5a9c7;
  }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    color: #feed6d;
  }
}

.btn-link {
  background-color: #171c3d;
  color: #ced0e3;
  border: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
}

.btn-link:hover {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #feed6d;
}

.card .card-img-top {
  height: 20rem !important;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  border-radius: 1rem !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card .card-img-top:hover {
  -webkit-box-shadow: 0 0 4px #f5f5f5;
          box-shadow: 0 0 4px #f5f5f5;
  border-radius: 1rem;
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  border: none;
}

.border-2 {
  border: 3px solid #ced0e3 !important;
}

.btn-custom-2 {
  color: #ced0e3;
}

.btn-custom-2:hover {
  background-color: #ced0e3;
}

.btn-custom-1 {
  color: #171c3d;
  background-color: #ced0e3;
}

.btn-custom-1:hover {
  background-color: transparent;
  color: #ced0e3;
}

.mt-7 {
  margin-top: 10rem !important;
  margin-bottom: 6rem !important;
}

.skills {
  width: 100px !important;
  height: 100px !important;
  -webkit-filter: gray;
          filter: gray;
  /* IE5+ */
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  /* Webkit Nightlies & Chrome Canary */
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.skills:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.line-word {
  overflow: hidden;
  text-align: center;
}

.line-word:before,
.line-word:after {
  background-color: #cc9da0;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.line-word:before {
  right: 0.5em;
  margin-left: -50%;
}

.line-word:after {
  left: 0.5em;
  margin-right: -50%;
}
/*# sourceMappingURL=Projects.css.map */